<nav class="nav-container">
  <div class="nav-logo">
    <img
      src="https://iis-bg.netlify.app/static/media/logo.22788ac2318342b9c5a5b45279c8e7c8.svg"
    />
  </div>
  <button
    class="hamburger"
    (click)="toggleMenu()"
    [attr.aria-expanded]="menuOpen"
    [attr.aria-controls]="'nav-links'"
    aria-label="Toggle menu"
  >
    &#9776;
  </button>
  <div class="nav-links" [class.open]="menuOpen">
    <ul class="nav-links__container">
      <li><a href="/">Home</a></li>
      <li><a href="/services">Services</a></li>
      <li>Contact</li>
      <li><a href="/posts">Posts</a></li>
      <li class="primary-button">Call us</li>
    </ul>
  </div>
</nav>
