<nav class="nav-container">
  <div class="nav-logo">
    @if (imageService.loading()) {
    <p>Loading logo...</p>
    } @else if (imageService.error()) {
    <p>Error loading logo</p>
    } @else if (imageService.singleImageUrl()) {
    <img [src]="imageService.singleImageUrl()!" alt="IIS Logo" />
    }

  </div>
  <button
    class="hamburger"
    (click)="toggleMenu()"
    [attr.aria-expanded]="menuOpen"
    [attr.aria-controls]="'nav-links'"
    aria-label="Toggle menu"
  >
    &#9776;
  </button>
  <div class="nav-links" [class.open]="menuOpen">
    <ul class="nav-links__container">
      <li><a href="/">{{ 'header.home' | translate }}</a></li>
      <li><a href="/services">{{ 'header.services' | translate }}</a></li>
      <li>{{ 'header.contact' | translate }}</li>
      <li><a href="/posts">{{ 'header.posts' | translate }}</a></li>
      <li class="primary-button">{{ 'header.call_us' | translate }}</li>
    </ul>
  </div>
</nav>
