.service-section{
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    margin-top: 4rem;
  }

  &__item {
    display: flex;
    gap: 3rem;
    margin-top: 2rem;
  }
  &__subitem {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }

  &__item:nth-child(2n) {
    flex-direction: row-reverse;
}

  &__img {
    img {
      border-radius: 2rem;
      max-width: 40vw;
      opacity: 0.5;
    }
  }

  &__svg {
    width: 24px;
    height: 24px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
