.posts-section{
  &__container {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 4rem;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    cursor: pointer;
    @media screen and (min-width:1025px){
      max-width: 45%;
    }
  }
  &__title {
    display: flex;
    gap: 1rem;
  }
  &__content {
    max-width: 90%;
    max-height: 2.6rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__img img{
    max-width: 100%;
    border-radius: 4px;
    aspect-ratio: 16/9;
    width: 100%;
  }

}
