.posts-section{
  &__container {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 4rem;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    cursor: pointer;
    @media screen and (min-width:1025px){
      max-width: 45%;
    }
  }
  &__title {
    display: flex;
    gap: 1rem;
  }
  &__content {
    max-width: 90%;
    max-height: 2.6rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__img img{
    max-width: 100%;
    border-radius: 4px;
    aspect-ratio: 16/9;
    width: 100%;
  }
  &__item:hover {
    .posts-section__edition-container {
      display: flex;
      width: 100%;
      height: 100%;
      gap: 1rem;
      background-color: rgba(0, 0, 0, 0.315);
      backdrop-filter: blur(10px);
      position: absolute;
      padding: 1rem;
      transition: all 0.5s ease-in-out;

      button {
        height: 50px;
        width: 200px;
      }
    }
  }

  &__edition-container {
    display: none;
  }


}
