<head>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:wght@200;300;600;800;900&family=Poppins:wght@100&display=swap"
    rel="stylesheet"
  />
</head>
<app-header></app-header>
<div class="main-content">
  <app-loader> </app-loader>
  <router-outlet></router-outlet>
</div>
<app-footer class="footer-content"></app-footer>
