@if(imgUrl){
<div class="banner-container container mh-1">
  <div class="banner__subscription-container">
    <div class="banner__subscription-title">
      <h1 class="gradient-text">
        Leveraging software to unlock the full potential of industrial
        operations
      </h1>
    </div>
    <div class="banner__subscription-description">
      The production optimization is our priority and we strongly believe that
      it has to be completely personalized and based on bussiness needs.
    </div>
    <div class="banner__subscription-form">
      @if(!dataSent){
      <form
        action=""
        class=""
        #form="ngForm"
        (ngSubmit)="saveContact(email.value)"
      >
        <div class="banner__subscription-form-container">
          <input
            type="email"
            placeholder="Type your email adress"
            class="banner__subscription-input"
            required
            name="email"
            id="email"
            ngModel
            realisticEmail
            #email="ngModel"
          />
          <button
            type="submit"
            class="banner__subscription-button"
            [disabled]="form.invalid"
          >
            Let's talk
          </button>
        </div>
        <p class="banner__accept-privacy">
          By clicking the button, you agree to our Terms of Service and Privacy
          Policy.
        </p>
        @if (email?.touched){ @if (email?.errors?.['required']){
        <p class="error">Email is required!</p>
        } @if (email?.errors?.['realisticEmail']){
        <p class="error">Email is not valid!</p>
        } }
      </form>
      } @else {
      <p class="banner__confirm-message">
        ✅​ We've got your e-mail and will contact you in the next 24 hours.
        Thank you!
      </p>
      }
    </div>
  </div>
  <div class="banner__img-container">
    @if (!loaded){
    <div class="banner__placeholder"></div>
    }
    <img
      src="{{ imgUrl }}"
      loading="lazy"
      (load)="onImageLoad()"
      [class.loaded]="loaded()"
      class="img-banner"
      alt="robot"
    />
  </div>
</div>
}
