 body {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
  }

  ::ng-deep * {
    margin: 0;
    padding: 0;
  }

.main-content {
  background: radial-gradient(circle at 3% 25%,#002853 0,#040c18 25%);
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1254px;
  margin: 0 auto;
  height: 100%;
}

.gradient-text {
  -webkit-text-fill-color: transparent;
    background: linear-gradient(89.97deg, #00c4cc 1.84%, #d9d9d9 102.67%);
    background-clip: text;
    -webkit-background-clip: text;
}

h1 {
    font-size: 62px;
    font-weight: 800;
    letter-spacing: -.04em;
    line-height: 75px;
}

h2 {
    font-size: 42px;
    font-weight: 800;
    letter-spacing: -.04em;
    line-height: 55px;
}
