
.form {
  max-width: 600px;
  margin: auto;

  &--title {
    text-align: center;
  }

  &--fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    gap: 1rem;
  }

  &--input {
    width: 80%;
    padding: .5rem;
    background-color: transparent;
    border:none;
    color: #eee;
    &:focus {
      border: none;
      -webkit-transition: 0.5s;
      transition: 0.5s;
    }
  }
}
  .text-center {
    max-width: 600px;
    margin: auto;
  }

