.dialog {
  background: radial-gradient(circle at 3% 25%,#002853 0,#040c18 25%);
  padding: 1rem;
  border: none;
  border-radius: 5px;
  &::backdrop {
    background-color: rgba(0, 0, 0, 0.815);
    backdrop-filter: blur(10px);
  }
  &__header {
    color: #eee;
  }

  &__content {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
  }

  .confirm-button {
    padding: 1rem 1.5rem;
  }

  .close-button, .cancel-button {
    background-color: transparent;
    color: white;
    border: 1px solid #18C5CCEE;
    border-radius: 5px;
    padding: 1rem 1.5rem;
    cursor: pointer;
  }
}
